.recipe-card {
  width: 100%;
}

.recipe-image {
  margin: 0 auto;
  max-width: 340px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 360px;
}

a:hover {
  text-decoration: none;
}
