/* .header {
  align-items: flex-start;
  border-top: 0px;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 8px;
  padding-bottom: 8px , 8px;
  position: fixed;
  top:0;
  width: 100%;
}
.elementsFooter {
  background-color: rgb(159, 229, 248);
  display: flex;
} */
