.header {
  background-color: rgba(38, 29, 86, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
