* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.doneRecipes-container-filters {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-around;
  margin: 0 auto;
  width: 80vw;
}

.doneRecipes-btn-filter {
  background-color: #feb803;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  padding: 3px 10px;
}

.doneRecipes-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 80%;
}

.doneRecipes-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 43%;
}

.doneRecipes-card {
  align-items: center;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 100%;
}

.doneRecipes-image {
  border-radius: 10px 10px 0 0;
  margin-bottom: 5px;
  width: 100%;
}

.doneRecipes-btn-share {
  background-color: inherit;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  width: 100%;
}
