* {
  margin: 0;
  padding: 0;
}

.Login-main {
  background-color: #fbfbfe;
  height: 100vh;
}

.Login-container {
  background-image: url('../../images/mesa.svg');
  background-position: 0 190px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: 80px;
}

.Login-title {
  display: flex;
  height: 150px;
  justify-content: center;
  margin-top: 80px;
}

.Login-div {
  height: 50px;
  margin: 10px 0;
  position: relative;
  width: 75%;
}

.Login-input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 100%;
  outline: none;
  padding: 9px;
  width: 100%;
}

.Login-input-button {
  background-color: #feb803;
  border: 2px solid white;
  border-radius: 5px;
  color: #242423;
  cursor: pointer;
  font-weight: 900;
  height: 40px;
  margin: 10px;
  width: 270px;
}

.Login-input-button:disabled {
  opacity: 0.5;
}

.Login-eye {
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 17px;
}

.Login-div span {
  left: 10px;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  top: 5px;
  transition: 0.5s;
}

.Login-div input:focus ~ span, .Login-div input:valid ~ span {
  font-size: 16px;
  opacity: 1;
  transform: translateY(-5px);
}
