.dropdown-select-contain {
  margin: 20px 0;
  width: 100%;
}

.dropdown-select {
  padding: 10px;
  text-align: center;
  width: 100%;
}

.button-card {
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 20px;
}

.card-img-contain {
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 130px;
}

.recipe-title {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 100px;
  justify-content: center;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
}
