.list-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.list-button-container {
  display: flex;
  justify-content: center;
}

.list-button-container button {
  background-color: #ddd;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  margin: 10px 5px;
  padding: 5px;
  width: 80px;
}

hr {
  margin: 25px auto;
  width: 50%;
}

@media screen and ( max-width : 768px ) {

  .list-container {
    flex-flow: column wrap;
  }
}
