.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.category-buttons {
  background-color: #feb803;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  margin: 10px 5px;
  padding: 5px;
}
