.category-container {
<<<<<<< HEAD
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.category-buttons {
  background-color: #feb803;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  margin: 10px 5px;
  padding: 5px;
=======
  border-top: 1px solid red;
>>>>>>> 5c0e14af825d1d1dadc4a881ec3b921a921cdafa
}
