.sugestion-carousel {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.card {
  color: white;
  display: inline-block;
  padding: 14px;
  text-align: center;
  text-decoration: none;
}

.btn-container {
  display: flex;
  margin-bottom: 50px;
}

.btn-start {
  background-color: #f76239;
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: white;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 18px;
  position: fixed;
  width: 90vw;
}
