.invisible {
  display: none;
}

.details-img-container img {
  border-radius: 10px;
  height: 400px;
  width: 500px;
}

.details-header-container {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0;
  width: 65vw;
}

.details-header-title * {
  margin: 0;
  padding: 3px;
}

.details-header-buttons {
  position: relative;
}

.details-header-buttons button {
  background-color: transparent;
  border: none;
}

.details-header-buttons img {
  margin: 0 8px;
  width: 26px;
}

.details-copyMsg {
  position: absolute;
  top: 50%;
}

.details-ingredients-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.details-ingredients-container h3 {
  margin: 0 5px;
  text-align: center;
}

.details-ingredient-list {
  background-color: rgba(211, 211, 211, 0.774);
  margin-top: 5px;
  padding: 40px;
}

.details-ingredient-list li {
  margin-top: 2px;
  padding: 8px;
}

.details-instructions-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.details-instructions-container h3 {
  margin: 0 5px 5px;
  text-align: center;
}

.details-instructions {
  background-color: rgba(211, 211, 211, 0.774);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 40px;
  width: 50%;
  word-spacing: 2px;
}

.details-instructions p {
  margin-top: 12px;
}

.details-video-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.details-video-container * {
  border: none;
  border-radius: 10px;
}

.details-recommendations-container {
  margin-bottom: 70px;
}

.details-recommendations-container a {
  color: black;
  text-decoration: none;
}

.details-recommendations-container h3 {
  margin: 50px 0 20px;
  text-align: center;
}

.recomendation-cards-outercontainer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.recomendation-cards-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.recomendation-cards-innercontainer {
  display: inline-flex;
  height: 100%;
  margin-bottom: 5px;
}

.recommendation-card {
  margin: 0 25px;
}

.recommendation-card img {
  border-radius: 50%;
  height: 150px;
  width: 160px;
}

.recommendation-card p {
  margin: 5px 0;
  text-align: center;
}

.details-start-btn {
  background-color: lime;
  border: none;
  bottom: 0;
  left: 2.5%;
  margin-bottom: 10px;
  padding: 15px;
  position: fixed;
  width: 95%;
}

/* media queries */

@media screen and ( max-width : 640px ) {

  .details-food-link {
    margin-bottom: -10px;
  }

  .details-header-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }

  .details-img-container img {
    border-radius: 10px;
    width: 100vw;
  }

  .details-ingredients-container h3 {
    margin-bottom: 10px;
  }

  .details-ingredient-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .details-instructions-container {
    width: 100%;
  }

  .details-instructions {
    margin-top: 20px;
    width: 100%;
  }

  .recomendation-cards-wrapper {
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
  }
}
