.header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-avatar {
  background-color: transparent;
}

.header-search {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
  width: 100%;
}

.header-title {
  font-size: 2em;
}

.header-search button {
  background-color: transparent;
  border: none;
}

label {
  align-items: center;
  display: flex;
  padding: 5px;
}

.radio-container {
  display: flex;
  margin: 10px;
}

.header-input {
  margin: 18px 0;
}

input {
  border: none;
  border-bottom: 2px solid #ccc;
  height: 25px;
}

.radio-input {
  border: 10px solid black;
}

.header-button {
  background-color: #aaa;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: 700;
  height: 30px;
  letter-spacing: 3px;
  width: 50%;
}

.header-button:hover, .header-button:active {
  background: #aaa;
  transition: all 0.2s ease-in-out;
}
