body {
  background-color: #f5d547;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-hover:hover {
  box-shadow: black 2px 2px 1px;
}

button, .img-hover {
  background-color: rgb(5, 4, 4);
  border-radius: 5px;
  color: whitesmoke;
  padding: 5px;
  transition: 00.5s;
}

button:hover {
  background-color: rgb(39, 38, 38);
  box-shadow: black 2px 2px 1px;
  color: whitesmoke;
}
  /* TELA DE LOGIN */
  .homeContainer {
    /* display: block; */
    background: url('images/comidaPinter.jpeg');
    background-color: rgba(128, 164, 237, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

  }

  .logo {
    max-width: fit-content;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  
  .input-group {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .loginContainer img {
    max-width: 100%;
  }

  .login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputContainter input, .inputContainter span {
    border: 1px solid black;
    opacity: 1.0;
  }

  .inputContainer:first-child {
    width: 100%;
  }

  .btn:hover {
    border: 1px white;
  }

  .btn:disabled {
    background-color: gray;
  }

  /* HEADER */
  .container2 {
    background-color: #f7613b;
    border-color: #3bf7ba;
    border-radius: 7px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
  }

  .container2 img, .container2 button {
    border: none;
    background-color: transparent;
  }

  .containerComidas, .containerBebidas, .explorerDrinkIngredientsBody {
    background-color: #f5d547;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: 100%;
  }

  /* TELA COMIDAS */
  .btn-group {transition: 00.5s;
    margin-bottom: 5%;
  }

  .containerCardMeal, .containerCardDrink, .containerDrinkIngredients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .containerCardMeal h3, .containerCardDrink h3, .containerDrinkIngredients h3{
    font-size: 90%;
  }

  .cardMeal, .cardDrink, .cardDrinkIng {
    background-color: #f7613b;
    height: 200px;
    margin: 0.5%;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    border: none;
    color: white;

    /*   transition-duration: 0.5s;
    text-overflow: ellipsis; */
  }

  .containerDrinkIngredients {
    background-color: #f5d547;
  }

  .searchbar-container {
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f7613b;
    border-radius: 5px;
  }

  .imgCardDrink, .imgCardMeal {
    width: 100%;
    height: 80%;
  }

  .cardMeal:hover, .cardDrink:hover{
    background-color: rgb(1, 11, 44);
  }

  /* TELA DETALHES COMIDAS */
  .details {
    align-items: center;
    background-color: #f5d547;
    display: grid;
    /* flex-direction: column; */
  }

  .details h2{
    margin-left: 1.2rem;
  }

  .details-header img {
    border-radius: 15px;
    border: 10px solid #f7613b;
  }

  .details-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .detailsMeal li, .detailsDrink li {
    list-style-type: none;
  }

  .details-btn {
    background-color: #f7613b;
    transition: 00.5s;
  }

  .details-btn:hover {
    background-color: #b82b08;
  }

  .details-btn  img {
    max-width: 100%;
    padding: 0;
  }

  .details p, .details button {
    margin-left: 1.2rem;
  }

  .details-header img {
    min-width: 150px;
    max-width: 50%;
  }

  .header-without-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
  }
  /* PERFIL/EXPLORAR */
  .profile, .explorer, .explorerDrink, .explorerDrinkIngredients, .favoritesPage {
      background-color: #f5d547;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

  .profileHeader, .explorerHeader, .explorerDrinkHeader, .explorerDrinkIngredientsHeader, .favoritesHeader{
    background-color: #f7613b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .favoritesButtonsFilters button {
    width: 25%;
    font-size: large;
  }

  .favoritesButtonsFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f7613b;
    padding-bottom: 25px;
    border-bottom-left-radius: 25px 25px;
    border-bottom-right-radius: 25px 25px;
  }

  .profileBody, .explorerBody, .explorerDrinkBody {
    background-color: #f5d547;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: space-between;
  }

  .profileBody button {
    margin: 0 5vw;
  }

  .no-style-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .favoritesCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 1;
    margin: 0 5vw;
  }

  .favoriteCard {
    border: none;
    /* display: flex; */
    /* align-items: center; */
    background-color: #f7613b;
    height: 300px;
    margin: 5vw 0;
    /* flex-direction: column; */
    width: 150px;
  }

  .favoriteCard img {
    width: 100%;
  }

  .favoriteCard h3 {
    font-size: medium;
  }

  .favoritesBody {
    background-color: #f5d547;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  /* FOOTER */
  .footer {
    align-items: center;
    background-color: darkgray;
    display: flex;
    height: 10vh;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

