/* body {
  background: url(images/comidaPinter.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
} */

@media screen and ( max-width : 360px )  and ( min-height : 640px ) {

  .inputContainer {
    background: url('images/comidaPinter.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    max-height: 100%;
    padding-bottom: 80%;
    padding-top: 50%;
  }

  .loginForm {
    border: 1px solid green;
  }

  .btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15vw;
  }
}

.cardMeal img {
  width: 100%;
}

.footer {
  bottom: 0;
  position: fixed;
}

.inputContainer {
  background: url('images/comidaPinter.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid black;
  padding-bottom: 0%;
  padding-top: 0%;
  position: absolute;
  width: 100%;
}

.loginForm {
  border: 1px solid green;
  max-height: 100%;
  max-width: 100%;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

/* shake */
.rocksGlass {
  animation: 1s infinite ease;
  max-height: 80vh;
}

.scrollMenuRecomendation {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.start-recipe-btn {
  bottom: 0;
  left: 0;
  position: fixed;
}

.scrollMenuRecomendation li {
  color: white;
  display: inline-block;
  padding: 14px;
  text-align: center;
  text-decoration: none;
}

.header-without-search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.searchbar-container {
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.no-style-button {
  background-color: transparent;
  border: none;
}

/* .food-list {
  display: flex;
  justify-content: space-around;
} */

.btn-group {
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-right: 35%;
}

.containerCardMeal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  margin-top: 2%;
  max-width: 100vw;
}

.cardMeal {
  background-color: rgb(251, 61, 61);
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  padding: 1%;
  transition-duration: 0.4s;
  width: 40vw;

  /* -webkit-transition-duration: 0.6s; */
}

.cardMeal:hover {
  background-color: #001524;
  color: white;
  transform: scale(1.05);
  transition-duration: 0.5s;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

/*  shake  */
.meals > .logo {
  animation: 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}


/* @media screen and (max-width: 360px)  and (min-height: 640px) {

} */
